# Core functionality - changes here should be rare!
/src/app.py                   @amanzhol10
/src/backend/database.py      @amanzhol10
/src/backend/routers/auth.py  @amanzhol10

# The frontend will need refactored soon to be more object oriented.
/src/static/   @amanzhol10
